absl-py==0.2.1
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
conda==4.4.10
cryptography==2.1.4
cycler==0.10.0
Cython==0.25.2
decorator==4.3.0
easydict==1.7
enum34==1.1.6
gast==0.2.0
grpcio==1.12.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
imageio==2.3.0
Jinja2==2.8
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.2.2
networkx==2.1
numpy==1.14.3
pandas==0.23.0
Pillow==3.0.0
progressbar2==3.37.1
protobuf==3.5.2.post1
pycosat==0.6.3
pycparser==2.18
Pygments==2.0.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.4
PyWavelets==0.5.2
requests==2.18.4
ruamel-yaml==0.15.35
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==2.5.3
tensorflow-tensorboard==0.4.0
tensorlayer==1.8.5
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
